<section class="users-section">


 <% @users.each do |u| %>
  <ul class="users-list"> 
    <%= u.id %> 
    <%= u.name %> 
    <% disappear_invite(u.id, u) %>
    <%= @invite %>
  </ul>
  <% end %>

  <h2>Friend Requests:</h2>
   <% recieved_friendships%>
   <% @recieved_friendships.each do |f| %>
    <ul class="users-list">
    <% answer_invitation(f.id) %>
    <%= @users.find_by_id(f.user_id).name %>  <%=@accept%> <%=@reject%>
     </ul>
   <% end %> 
</section>
