<section class="user-section">
  <%disappear_invite(@user.id, @user)%>
  <h2><%= "#{@user.name}"%></h2>

  <h3>My friends:</h3>
  <ul>
    <%@user.list_friends.each do |l|%>
      <li class="p-2"><%=l.name%>
        <span class="profile-link p-2">
        <%= link_to 'See Profile',  user_path(l), class: 'btn btn-success'%>
        </span>
        <span class="p-2"><%=@invite%></span>
      </li>
    <%end%>
  </u>
  
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
